.products_wrapper {
  @include grid-cols(5, 1fr, 1rem);

  @include devices(lg) {
    @include grid-cols(4, 1fr, 1rem);
  }

  @include devices(md) {
    @include grid-cols(3, 1fr, 0.6rem);
  }

  @include devices(xs) {
    grid-template-columns: 2fr;
  }
}

.btn-prod_details.active {
  background: green;
}

.products_filter_tabs {
  @include margin-y(2rem, 2rem);
}

.products_card {
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.5);
  display: flex;
  flex-direction: column;
  height: 530px;
  &.browse_card {
    @include centered;
    @include padding-y(5rem, 5rem);
    font-size: 1.5rem;

    a {
      @include transition(color, 0.3s);

      &:hover {
        color: #eee;
      }
    }
  }
}

.products_img {
  text-align: center;
  height: 340px;
  flex-shrink: 0;
  a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      width: 100%;
      height: 100%;
      img {
        @include img-fit;
        object-fit: fill;
        border-radius: 20px;
      }
    }
    @include transition(transform, 0.25s, ease);

    &:hover {
      transform: scale(1.05);
    }
  }
}

.products_details {
  padding: 1rem;
  flex: 1;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.products_title {
  @include margin-y(0.8rem, 0.4rem);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.products_info {
  opacity: 0.8;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.products_btn {
  width: 100%;
  margin-top: 1.2rem;

  &.active {
    background-color: green;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

/* All-Products Page */
#all_products {
  padding-top: 8rem;
  display: grid;
  grid-template-columns: 250px 1fr;

  @include devices(lg) {
    grid-template-columns: 1fr;
  }

  .products_wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
